/* Ajustes para móviles */
@media (max-width: 500px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .w-full {
    width: 100%;
  }
  .sm\:w-4\/12 {
    width: 70% !important; /* Ajustamos el tamaño de los botones en móviles */
  }
  .sm\:w-8\/12 {
    width: 100%;
  }
  button {
    margin: 10px 0;
    padding: 20px;
    width: 70%;
    text-align: center;
  }
}
